<a href="https://colab.research.google.com/github/red2506/tr56/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Sony Rise Challenge**

In [ ]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.model_selection import train_test_split 
from sklearn import metrics
from scipy import stats

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
#Read Data and understand Summary
#import data
content = pd.read_csv('content.csv')
relationship = pd.read_csv('relationship.csv')
test = pd.read_csv('test.csv')
user = pd.read_csv('user.csv')

In [ ]:
df = pd.merge(relationship,content,on='content_id')    
final = pd.merge(df,user,on='user_id')
final = final.drop(columns=['release_date','date','joining_date'])
final.head(5)

,user_id,content_id,duration_x,start_time,end_time,content_type,language,genre,duration_y,rating,episode_count,season_count,user_age,gender,location
0,user_44902@domain.com,cont_1718_16_7,1920000.0,06:19:13,06:51:13,series,hindi,drama,2880000,6,7,16,59,F,Tripura
1,user_44902@domain.com,cont_263_3_8,960000.0,15:34:10,15:50:10,series,english,documentary,2880000,2,8,3,59,F,Tripura
2,user_44902@domain.com,cont_1286_2_21,2880000.0,22:51:32,23:39:32,series,hindi,drama,3780000,6,21,2,59,F,Tripura
3,user_44902@domain.com,cont_4460_10_10,840000.0,19:13:08,19:27:08,series,hindi,drama,2760000,1,10,10,59,F,Tripura
4,user_44902@domain.com,cont_310_8_1,2220000.0,13:49:29,14:26:29,series,english,comedy,4320000,4,1,8,59,F,Tripura

19032022

phyton

In [ ]:
import re
import csv

with open("relationships.csv") as f:
    read = csv.reader(f)
for row in read :
  timeregex=re.compile(r'(/d/d):(/d/d):(/d/d)')
  m=timeregex.search(start_time)
  hour=m.group(1)
  min=m.group(2)
  sec=m.group(3)

FileNotFoundError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Python program to find the
# difference between two times
  
  
# function to obtain the time
# in minutes form
def difference(h1, m1,s1, h2, m2, s2):
      
    # convert h1 : m1 into
    # seconds
    t1 = h1 * 3600 + m1*60 + s1
      
    # convert h2 : m2 into
    # seconds 
    t2 = h2 * 3600 + m2*60+ s2
      
    if (t1 == t2): 
        print("Both are same times")
        return 
    else:
          
        # calculating the difference
        diff = t2-t1
          
    # calculating hours from
    # difference
    h = (int(diff / 3600)) % 24
      
    # calculating minutes from 
    # difference
    m = int(diff / 60) %60


    if h==0 and m<10:
      print("\tless than 10 minutes")
    
    
    # calculating seconds from 
    # difference
    s = diff%60
  
    print(h, ":", m, ":", s)
  
# Driver's code
if __name__ == "__main__":
      
    difference(7, 20,20, 9, 45,20)
    difference(7, 20,20, 7, 29,20)
    difference(15, 23,10, 18, 54,10)
    difference(16, 20,10, 16, 20,10)

2 : 25 : 0
	less than 10 minutes
0 : 9 : 0
3 : 31 : 0
Both are same times